*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.container{
	widows: 100%;
	max-width: 1000px;
	padding: 0 15px;
	margin: 0 auto;
}

header{	
	min-height: 100vh;
	background: url("../img/bg.jpg") center no-repeat;
	background-size: cover;
}

header .header-content{
	display: flex;
	align-items: center;
	justify-content: center;
	min-height: 100vh;
	position: relative;
}

h1{
	columns: #fff;
	text-shadow:  0 0 4px #fff;
	font-size: 60px;
	text-transform: uppercase;
	text-align: center;
}

h2{
	columns: #fff;
	text-shadow:  0 0 4px #fff;
	font-size: 40px;
	text-transform: uppercase;
	text-align: center;
}

img{
	max-width: 100%
}

.news{
	background-color: green;
	padding: 25px 0;
}

.news .container{
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}

.news_item{
	min-height: 300px;
	background-color: #fff;
	border-radius: 4px;
	flex: 0 0 24%;
	margin-bottom: 15px;
	margin-top: 15px;
	padding: 10px;
	text-align: center;
}

.news_item p{
	text-align: left;
}

.top_menu{
	position: absolute;
	right: 0;
	left: 0;
	top: 0;
	background: #333;
	padding: 10px;
	z-index: 9;
}

.top_menu ul{
	list-style: none;
	display: flex;
	align-items: center;
	justify-content: space-around;
}

.top_menu a{
	color: #fff;
	text-decoration: none;
	text-transform: uppercase;

}

.mobile-burger{
	display: none;
}


.mobile-burger, .toggle_menu{
		display: none;
}





@media screen and (min-width: 768px) and (max-width:1024px ) {
	.container{
		max-width: 700px;
	}
	.news_item{
		flex: 0 0 31%;
	}
}

@media screen and (max-width: 767px) {
	.container{
		max-width: 100%;
	}
	.news_item{
		flex: 0 0 49%;
	}
	.mobile-burger{
		display: block;
		width: 50px;
	}
	#toggle_menu:checked + .container{
		left: 0;
	}
	.top_menu .container{
		display: block;
		position: absolute;
		left: -100%;
		background-color: #333;
		transition: all 0.5s;
		width: 100%;
	}

	.top_menu ul{
		display: block;
	}
	.top_menu li{
		border-bottom: 1px solid #ccc;
	}
	.top_menu a{
		display: block;
		padding: 5px;
	}
	.top_menu li:last-child{
		border-bottom: 0;
	}
}

@media screen and (max-width: 420px) {
	.news_item{
		flex: 0 0 100%;
	}
}