@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box; }

h1 {
  max-width: 234px;
  margin-bottom: 16px;
  font-size: 36px;
  line-height: 43.5px;
  font-family: 'Inter', sans-serif;
  font-weight: 700; }

h2 {
  font-size: 24px;
  line-height: 29px;
  margin-right: 221px;
  font-family: 'Inter', sans-serif;
  font-weight: 700; }

h3 {
  font-size: 18px;
  line-height: 22px;
  margin-bottom: 8px;
  font-family: 'Inter', sans-serif;
  font-weight: 700; }

h4 {
  font-size: 16px;
  line-height: 19px;
  margin-bottom: 4px;
  font-family: 'Inter', sans-serif;
  font-weight: 700; }

.container {
  margin: 0 auto;
  max-width: 640px;
  width: 100%;
  background-color: #F4F4F4;
  padding: 16px 40px; }

.top-menu {
  text-align: center; }
  .top-menu__links {
    padding-top: 16px;
    background-color: #444444;
    padding-top: 16px;
    padding-bottom: 16px;
    display: flex;
    justify-content: center;
    border-bottom-right-radius: 8px;
    border-bottom-left-radius: 8px; }
  .top-menu__links__item {
    padding-right: 24px;
    text-decoration: none;
    color: #fff;
    text-transform: none;
    font-family: 'Inter', sans-serif;
    font-weight: 400; }
  .top-menu__logo {
    background-color: #fff;
    padding: 40px 205px;
    display: flex;
    align-items: baseline;
    border-top-right-radius: 8px;
    border-top-left-radius: 8px; }
    .top-menu__logo__item {
      display: block; }

.top-price {
  padding-top: 44px;
  padding-left: 72px;
  background-color: #fff;
  border-radius: 8px;
  background: url(../img/clock.png);
  background-position: 334px;
  background-repeat: no-repeat;
  background-color: #fff;
  padding-bottom: 34px; }
  .top-price__text {
    max-width: 250px;
    font-size: 14px;
    line-height: 20px;
    margin-bottom: 27px;
    font-family: 'Inter', sans-serif;
    font-weight: 500; }
  .top-price__link {
    color: #1890FF;
    text-decoration: none;
    text-transform: none;
    font-family: 'Inter', sans-serif;
    font-weight: 500; }
  .top-price__button {
    display: block;
    margin-top: 143px;
    width: 260px;
    background-color: #1890FF;
    text-align: center;
    color: #fff;
    font-size: 18px;
    line-height: 22px;
    text-transform: none;
    text-decoration: none;
    padding-top: 12px;
    padding-bottom: 16px;
    border-radius: 10px;
    font-family: 'Inter', sans-serif;
    font-weight: 500; }

.product {
  width: 560px;
  background-color: #fff;
  border-radius: 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 0 70px;
  padding-bottom: 70px; }
  .product__text {
    flex: 0 0 100%;
    display: flex;
    align-items: baseline;
    padding-top: 50px;
    margin-bottom: 66px;
    font-family: 'Inter', sans-serif;
    font-weight: 400; }
    .product__text__links {
      font-size: 15px;
      line-height: 18px;
      text-transform: none;
      text-decoration: none;
      color: #1890FF;
      font-family: 'Inter', sans-serif;
      font-weight: 500; }
  .product__item {
    flex: 0 0 35%; }
    .product__item__img {
      margin-bottom: 32px; }
    .product__item__text {
      margin-bottom: 12px;
      margin-top: 4px; }
    .product__item__button {
      text-transform: none;
      text-decoration: none;
      color: #fff;
      text-align: center;
      font-size: 10px;
      line-height: 20px;
      background-color: #1890FF;
      padding: 3px 20px;
      border-radius: 4px;
      font-family: 'Inter', sans-serif;
      font-weight: 500; }

.contacts {
  background-color: #fff;
  padding: 35px 80px;
  border-radius: 8px;
  display: flex;
  justify-content: space-between; }
  .contacts__follow__text {
    font-size: 11px;
    line-height: 20px;
    margin-bottom: 20px;
    font-family: 'Inter', sans-serif;
    font-weight: 400; }
  .contacts__follow__img {
    padding-right: 25px; }
  .contacts__info__text {
    font-size: 11px;
    line-height: 20px;
    margin-bottom: 16px;
    font-family: 'Inter', sans-serif;
    font-weight: 400; }
  .contacts__info__links {
    display: inline-block;
    padding-bottom: 8px;
    font-size: 11px;
    line-height: 20px;
    text-transform: none;
    text-decoration: none;
    color: #1890FF;
    font-family: 'Inter', sans-serif;
    font-weight: 500; }

.c-b {
  color: #515759; }

/*# sourceMappingURL=style.css.map */
